
<div class="logo">
    
       <h2 style="color: white">SAFE DRUGS</h2>  
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li *ngIf="currentUser.mspid === 'Org1MSP'" routerLinkActive="active"  class="nav-item">
            <a routerLink="/product">
                <i class="now-ui-icons ui-1_calendar-60"></i>
                <p>Create Product</p>
            </a>
        </li>

        <li *ngIf="currentUser.mspid === 'Org1MSP'" routerLinkActive="active"  class="nav-item">
            <a routerLink="/notifications">
                <i class="now-ui-icons shopping_delivery-fast"></i>
                <p>Create Order</p>
            </a>
        </li>
        <li *ngIf="currentUser.mspid !== 'Org1MSP'" routerLinkActive="active"  class="nav-item">
            <a routerLink="/search">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
                <p>Search Order</p>
            </a>
        </li>
        <li routerLinkActive="active"  class="nav-item">
            <a routerLink="/table-list">
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>List Orders</p>
            </a>
        </li>
    </ul>
</div>
